<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Essa é Sua Senha:
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Essa é Sua Senha: </ion-title>
    </ion-toolbar>
  </ion-header>

<br>
<br>
<br>
<br>

<ion-item>
  <ion-input label="Senha gerada" value="ex:01" [readonly]="true"></ion-input>
</ion-item>




<br>
<br>
<!-- Botão Gerar senha Geral | inicio -->
 <ion-grid>
  PRIORITARIA
  <br>
  <br>
  <ion-button id="teste">
    Gerar Senha
    <ion-icon slot="end" name="ticket-outline"></ion-icon>
  </ion-button>
<br>
<br>
<!-- Botão Gerar senha Geral | Fim -->

<!-- Botão Gerar senha Geral | inicio -->
GERAL
<br>
<br>
  <ion-button>
    Gerar Senha
    <ion-icon slot="end" name="ticket-outline"></ion-icon>
  </ion-button>
<br>
<br>
<!-- Botão Gerar senha Geral | Fim -->

<!-- Botão Gerar senha Geral | inicio -->
EXAMES
<br>
<br>
  <ion-button>
    Gerar Senha
    <ion-icon slot="end" name="ticket-outline"></ion-icon>
  </ion-button>

</ion-grid>
<!-- Botão Gerar senha Geral | Fim -->